
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html,body {
    margin: 0;
    scroll-behavior: smooth;
    width: 100%;
    background: linear-gradient(190deg, #1f1f1f, #1f1f1f, rgba(66, 64, 52, 0.829)) repeat fixed;
}

body * {
    background-color: transparent;
    color: white;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-size: 0;
    opacity: 0;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    background-color: #1f1f1f;
    animation: loading-fade 5.5s linear;
    animation-iteration-count: 1;
}
/*
@keyframes loading-fade {
    0% {
        opacity: 1;
        width: 100%;
        height: 100%;
    }
    78% {
        opacity: 1;
    }
    99% {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    100% {
        width: 0px;
        height: 0px;
    }
}
*/
.loading-screen-text {
    color: white;
    background-color: #1f1f1f;
    font-size: 4rem;
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    white-space: nowrap;
    border-right: 4px solid white;
    width: 12ch;
    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow: hidden;
    margin: auto;
}

@keyframes typing {
    from { 
        width: 0; 
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

#navigation, #navigation * {
    background-color: #b98f33;
}

#navigation {
    display: flex;
    margin-bottom: 7.4%;
    padding: .75%;
    font-size: .8rem;
    box-shadow: 0rem .5rem 1rem #b98f33;
}

#navigation-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    margin: 0rem 8%;
}

#hamburger-menu {
    display: none;
}

.navigation-options {
    font-size: 1.2rem;
    font-weight: 400;
    text-shadow: 0px 0px .35rem #b98f33;
    letter-spacing: .08rem;
}

.navigation-options a {
    text-decoration: none;
    transition: color .1s linear, background-color 1s linear;
}

.navigation-options a:hover {
    color: #000000;
}

/*=============================================*/

.row-container {
    display: flex;
    background-color: transparent;
    justify-content: space-around;
    margin: auto;
}

.col-container {
    display: flex;
    flex-direction: column;
}

#col-container1 {
    box-sizing: content-box;
    width: 80%;
    margin-left: 10%;
    font-size: 1.2rem;
    margin-right: 4%;
}

#col-container1 h1 {
    margin-top: 0;
    margin-bottom: 11%;
    font-size: 6rem !important;
    font-style: italic;
    line-height: 6rem;
    letter-spacing: .2rem;
}

#col-container1 > span {
    color: rgb(216, 216, 216);
    line-height: 1.8rem;
}

#button-hire {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11%;
    font-size: 1.6rem;
    padding: 2.5% 0%;
    width: 260px;
    background-color: rgb(158, 41, 41);
    border: 0;
    box-shadow: inset 0rem 0 0rem 0rem rgb(134, 16, 115);
    transition: ease-out 0.2s;
    outline: none;
    border-radius: 10px;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: .1rem;
}

#button-hire:hover {
    box-shadow: inset 0rem 0 3rem 3rem rgb(134, 16, 115);
    cursor:pointer;
}

#col-container2 {
    width: 80%;
    padding-right: 10%;
    align-items: center;
    justify-content: center;
}

#image-col {
    width: 96.5%;
    min-width: 500px;
    box-shadow: 0px 0px 2rem #050505;
}

/*=================LISTAS=================*/

#row-container2, #row-container3, #row-container4 {
    margin-top: 16%;
}

#row-container {
    align-items: center;
}

#row-container2 {
    justify-content: space-evenly;
}

.list-container {
    border: 12px solid white;
    box-shadow: 0px 0px 1rem #b98f33;
    padding: 4%;
    text-shadow: 0px 0px .35rem #b98f33;
}

.list-container h2 {
    font-size: 3.5rem;
    margin-top: 4%;
}

.list-container ul {
    font-size: 3rem;
}

/*===============TEXTO================*/

#row-container3, #row-container4 {
    display: block;
}

#row-container3 h1, #row-container4 h1 {
    font-size: 5rem;
    margin-left: 8%;
}

#row-container3 p, #row-container4 p {
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: .1rem;
}

#row-container3 a, #row-container4 a {
    font-weight: 700;
    font-size: 1.5rem;
}

.text-container { 
 margin-left: 20%;
 margin-right: 10%;
}

/* ================PIE-PAGINA====================*/

#footpage {
    display: flex;
    align-items: center;
    padding: 0% 8%;
    padding-bottom: 2%;
    margin-top: 12%;
}

#social-media {
    width: 60%;
}

.social-media-images {
    display: inline-block;
    margin: 3%;
    width: 12.5%;
    min-width: 100px;
}

#footpage-text {
    text-align: right;
    width: 40%;
}

/* ==================SCROLLBAR====================*/

::-webkit-scrollbar {
    width: 0;
}

#scrollPath, #progressBar, .points {
    margin-right: 5px;
}

#scrollPath {
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    width: 15px;
    height: 101%;
    border: 2px solid #1736bd;
}

#progressBar {
    position: fixed;
    top: 0;
    right: 0;
    width: 15px;
    background-color: rgb(255, 255, 0);
    z-index: 3;
    transition: height .1s linear;
}

#pacman {
    position: absolute;
    bottom: -28px;
    left: -14px;
    width: 40px;
    z-index: 4;
    transform: rotateZ(90deg);
    background-color: transparent;
}

#progressBar .points {
    position: fixed;
    right: 5px;
    width: 6px;
    height: 6px;
    background-color: rgba(255, 255, 0, 0.849);
}

#point1 {
    top: 7.5%;
}

#point2 {
    top: 15%;
}

#point3 {
    top: 22.5%;
}

#point4 {
    top: 30%;
}

#point5 {
    top: 37.5%;
}

#point6 {
    top: 45%;
}

#point7 {
    top: 52.5%;
}

#point8 {
    top: 60%;
}

#point9 {
    top: 67.5%;
}

#point10 {
    top: 75%;
}

#point11 {
    top: 82.5%;
}

#point12 {
    top: 90%;
}

#point13 {
    top: 97.5%;
} 

/*==================QUERYS==================*/

@media only screen and (max-width: 1150px) {

    .row-container {
        flex-direction: column;
    }

    .row-container p {
        font-size: 2rem;
        text-align: justify;
    }

    #col-container1, #col-container2 {
        align-items: center;
        padding: 0;
        margin: auto;
        margin-bottom: 16%;
    }

    #row-container1 {
        margin-bottom: 0% !important;
    }

    #row-container2 {
        margin-top: 0% !important;
    }

    #col-container1 h1 {
        text-align: center;
    }

    .list-container, .row-container {
        margin: 16% 7.5%;
    }

    #row-container2 h1 {
        font-size: 2.6rem;
    }

    #row-container2 li {
        font-size: 2.2rem;
    }

    #list-container1, #row-container3, #row-container4, #footpage {
        margin-top: 32%;
    }

    #row-container3 h1, #row-container4 h1 {
        margin-left: 9.4%;
        font-size: 3rem;
    }

    #row-container3 p, #row-container4 p {
        font-size: 1.2rem;
    }

    .text-container {
        margin: 0;
    }

    .text-container p {  
        margin: 0% 10%;
    }

    .social-media-images {
        min-width: 70px;
    }

    #footpage p {
        font-size: .8rem;
        margin-right: 28px;
    }
}

@media only screen and (max-width: 600px) {
    
    #navigation-container {
        flex-direction: column;
        align-items: flex-start;
        height: 60px
    }

    #navigation h1 {
        display: none;
    }

    #hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: relative;
        width: 10%;
        height: 90%;
        margin-left: 5%;
    }

    .hamburger-item {
        height: 4px;
        background-color: white !important;
        z-index: 4;
    }

    #row-container1 {
        margin-top: 10%;
    }

    #row-container1 h1 {
        font-size: 3.2rem !important;
        line-height: 4.2rem;
    }

    #col-container2 img {
        width: 10% !important;
        min-width: 280px;
    }

    #row-container3 p, #row-container4 p {
        font-size: 1rem;
        letter-spacing: .25;
    }
    
    #progressBar .points, #progressBar, #pacman, #scrollPath {
        visibility: hidden;
    }
}