
* {
    background-color: rgb(15, 15, 15);
    color: white;
    border: 1px solid white;
}

body {
    margin: 0;
}

.pantalla-carga { 
    display: flex;
    justify-content: center;
    position: fixed;
    font-size: 0;
    opacity: 0;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    background-color: black;
    animation: loading-fade 5.5s linear;
    animation-iteration-count: 1;
}

@keyframes loading-fade {
    0% {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        width: 100%;
        height: 100%;
    }
    78% {
        opacity: 1;
    }
    99% {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    100% {
        width: 0%;
        height: 0%;
    }
}

.pantalla-carga2 { 
    display: flex;
    justify-content: center;
    position: fixed;
    font-size: 0;
    opacity: 0;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    background-color: black;
    animation: loading-fade2 1s ease-in-out;
    animation-iteration-count: 1;
}

@keyframes loading-fade2 {
    0% {
        opacity: 1;
        width: 100%;
        height: 100%;
    }
    99% {
        opacity: 1;
        width: 100%;
        height: 100%;
        left: 100%;
    }
}

.texto-carga {
    background-color: black;
    font-size: 4rem;
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    white-space: nowrap;
    border-right: 4px solid white;
    width: 12ch;
    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow: hidden;
    margin: auto;
}

@keyframes typing {
    from { 
        width: 0; 
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

#cabecera, #contenido_principal, #pie_pagina {
    margin: 0rem 3rem;
}

#cabecera {
    display: flex;
    margin-bottom: 6%;
    align-items: center;
}


#menu_contenedor {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    width: 100;
    margin: 0rem 8%;
}

#menu_imagen {
    width: 8%;
    min-width: 70px;
    margin-left: 2%;
}

.menu_opciones a {
    text-decoration: none;
}

#contenido1, #contenido2 {
    display: flex;
    justify-content: flex-start;
    gap: 4%;
    padding: 2%;
    margin-bottom: 8%;
}

#mi_foto2, #mi_foto1, #contenedor_texto1, #contenedor_texto2 {
    width: 100%;
    min-width: 384px;
}

#contenedor_perfil {
    display: flex; 
    align-items: center;  
}

#texto_perfil {
    width: 100%;
    flex-grow: 1;
}

#mi_foto {
    width: 15%;
    min-width: 130px;
}

#pie_pagina {
    display: flex;
    align-items: center;
}

#pie_texto {
    width: 30%;
    flex-grow: 1;
    text-align: right;
}

#rss {
    width: 70%;
}

.rss_imagenes {
    display: block;
    width: 10%;
    margin: 3%;
}