
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    background-color: #1f1f1f;
    color: white;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}

html,body {
    margin: 0;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

.pantalla-carga { 
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-size: 0;
    opacity: 0;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    background-color: #1f1f1f;
    animation: loading-fade 5.5s linear;
    animation-iteration-count: 1;
}

/*@keyframes loading-fade {
    0% {
        opacity: 1;
        width: 100%;
        height: 100%;
    }
    78% {
        opacity: 1;
    }
    99% {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    100% {
        width: 0px;
        height: 0px;
    }
}*/

.texto-carga {
    color: white;
    background-color: #1f1f1f;
    font-size: 4rem;
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    white-space: nowrap;
    border-right: 4px solid white;
    width: 12ch;
    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow: hidden;
    margin: auto;
}

@keyframes typing {
    from { 
        width: 0; 
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

#cabecera {
    display: flex;
    margin-bottom: 5%;
    padding: .5%;
    font-size: .8rem;
    box-shadow: 0rem .5rem 1rem #b98f33;
}

#navegacion-contenedor {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0rem 8%;
}

.navegacion-opciones {
    font-size: 1.2rem;
    font-weight: 400;
    text-shadow: 0px 0px .35rem #b98f33;
}

.navegacion-opciones a {
    text-decoration: none;
    transition: color .1s linear, background-color 1s linear;
}

.navegacion-opciones a:hover {
    color: #000000;
    background-color: white;
}

#container-wordcloud {
    position: relative;
    width: 100%;
    height: 80%;
}

.wordcloud {
    position: absolute;
    background-color: transparent;
    text-shadow: 0px 0px .65rem #b98f33;
}

#wordcloud1 {
    top: 8%;
    left: 15%;
    font-size: 6.5rem;
    font-weight: 700;
    font-style: italic;
    transform: rotateZ(90deg);
}

#wordcloud2 {
    top: 20%;
    left: 8.5%;
    font-size: 5rem;
    font-weight: 700;
}

#wordcloud3 {
    top: 14%;
    left: 30%;
    font-size: 5rem;
    font-weight: 700;
}

#wordcloud4 {
    top: 2%;
    left: 29%;
    font-size: 4rem;
    font-weight: 600; 
}

#wordcloud5 {
    top: 52%;
    left: 20%;
    font-size: 3.4rem;
    font-weight: 600;
}

#wordcloud6 {
    top: 5%;
    left: 10%;
    font-size: 3.4rem;
    font-weight: 600;
    font-style: italic;
    transform: rotateZ(90deg);
}

#imagen-wordcloud {
    position: absolute;
    top: 3%;
    right: 12%;
    width: 30%;
    z-index: 1;
    box-shadow: 0px 0px 2rem #050505;
}

#imagen-wordcloud2 {
    position: absolute;
    top: 40%;
    right: 40%;
    width: 22.5%;
    box-shadow: 0px 0px 2rem #050505;
}



/*=================LISTAS=================*/

#blank-space {
    height: 18%; 
    background: linear-gradient(#1f1f1f, #181818, #1f1f1f);
}

#contenedor-lista {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 4%;
}

.caja-lista {
    border: 12px solid white;
    box-shadow: 0px 0px 1rem #b98f33;
    padding: 4%;
    text-shadow: 0px 0px .35rem #b98f33;
}

.caja-lista h2 {
    font-size: 3.5rem;
    margin-top: 4%;
}

#caja-lista1 {
    width: 50%;
    height: 90%;
}

#caja-lista2 {
    width: 35%;
    height: 100%;
}

.caja-lista ul {
    font-size: 3rem;
}

/*===============TEXTO================*/

.seccion-texto, #contenedor-perfil {
    position: relative;
    padding: 0% 4%;
}

.seccion-texto {
    height: 65%;
}

.seccion-texto h1 {
    font-size: 6rem;
    margin-top: 0%;
    text-shadow: 0px 0px .5rem #b98f33;
}

.contenedor-texto {
    position: absolute;
    font-size: 2rem;
    top: 25%;
    left: 20%;
    width: 70%;
    min-width: 0;
    min-height: 0;
}

.seccion-texto p {
    text-shadow: 0px 0px .35rem #b98f33;
}

/* ================PIE-PAGINA====================*/

#pie-pagina {
    display: flex;
    align-items: center;
    padding: 2%;
}

#pie-pagina, #pie-pagina * {
}

#rss {
    width: 100%;
}

.rss-imagenes {
    display: inline-block;
    width: 12%;
    margin: 3%;
}

#pie-texto {
    width: 80%;
    text-align: right;
}

/* ==================SCROLLBAR====================*/

::-webkit-scrollbar {
    width: 0;
}

#scrollPath, #progressBar, .points {
    margin-right: 5px;
}

#scrollPath {
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    width: 15px;
    height: 101%;
    border: 2px solid rgb(35, 35, 255);
}

#progressBar {
    position: fixed;
    top: 0;
    right: 0;
    width: 15px;
    background-color: rgb(255, 241, 43);
    z-index: 3;
    transition: height .1s linear;
}

#pacman {
    position: absolute;
    bottom: -28px;
    left: -15px;
    width: 40px;
    z-index: 4;
    transform: rotateZ(90deg);
    background-color: transparent;
}

#progressBar .points {
    position: fixed;
    right: 5px;
    width: 6px;
    height: 6px;
    background-color: rgb(255, 241, 43);
}

#point1 {
    top: 7.5%;
}

#point2 {
    top: 15%;
}

#point3 {
    top: 22.5%;
}

#point4 {
    top: 30%;
}

#point5 {
    top: 37.5%;
}

#point6 {
    top: 45%;
}

#point7 {
    top: 52.5%;
}

#point8 {
    top: 60%;
}

#point9 {
    top: 67.5%;
}

#point10 {
    top: 75%;
}

#point11 {
    top: 82.5%;
}

#point12 {
    top: 90%;
}

#point13 {
    top: 97.5%;
} 